In the line below, write your first and last name.

Sofia Lynch

In [0]:
import numpy as np
from numpy.random import *

In the empty code cell below, create a 5 x 3 matrix called ***mat1*** composed of random numbers taken from a Gaussian distribution.

In [0]:
mat1 = randn(5,3)
print (mat1)

In the code cell below, create a 3 x 4 matrix called ***mat2*** where every element in the matrix is the value 1.

In [0]:
mat2 = np.ones([3,5])
print (mat2)

In the code cell below, perform a matrix multiply between ***mat1*** and ***mat2*** and call the resulting matrix mat_mul.

In [0]:
mat_mul = np.matmul(mat1,mat2)

How many rows and columns should the matrix ***mat_mul*** have? Enter your answer in the line below.

5x4; i.e 5 rows and 4 columns

Can ***mat1*** and ***mat2*** be added together, elementwise? Answer in the line below.

No

In the line below, print the value of ***mat1<sub>0,2</sub>***

In [0]:
print (mat1[0,2])

In the line below, change the value of ***mat1<sub>2,2</sub>*** to 0.3. Then, print ***mat1*** to show the change.

In [0]:
mat1[2,2] = 0.3
print (mat1)

In the line below, print the shape of ***mat2***.

In [0]:
print (mat2.shape)

In the line below, add a value of 2.0 to every element in ***mat2***. Then print ***mat2*** to show the result.

In [0]:
mat2_add2 = mat2 + 2.0
print (mat2_add2)

In the line below, take the sum of each column of ***mat1*** and call the result ***mat1sum***. Then, print ***mat1sum*** and its shape.

In [0]:
mat1sum = np.sum(mat1,0)
print (mat1sum.shape)
print (mat1sum)

In the line below, write the shape you would expect if you transposed a 8 x 3 matrix.

3x8

In the line below, take the mean of ***mat1*** and call the result ***mat1mean***. Then, print ***mat1mean***.

In [0]:
mat1mean = np.mean(mat1)
print (mat1mean)

In the line below, create a variable called ***mat1row1*** which is the first row of ***mat1***. Then, print ***mat1row1*** and its shape.

In [0]:
mat1row1 = mat1[0,:]
print (mat1row1)

In the line below, create a variable called ***mat1row2*** which is the second row of ***mat1***. Then, print ***mat1row2*** and its shape.

In [0]:
mat1row2 = mat1[1,:]
print (mat1row2)
print (mat1row2.shape)

In the line below, create a variable called ***mat1col1*** which is the first column of ***mat1***. Then, print ***mat1col1*** and its shape.

In [0]:
mat1col1 = mat1[:,0]
print (mat1col1)
print (mat1col1.shape)

In the line below, print the maximum value in ***mat1***, as well as the minimum value of ***mat1***.

In [0]:
mat1min = np.amin(mat1)
mat1max = np.amax(mat1)
print (mat1min)
print (mat1max)

In the line below, print the number of elements in ***mat1***.

In [0]:
print (mat1.size)

In the line below, create a matrix of zeros called ***mat3*** with shape 4 x 4. Then print ***mat3***.

In [0]:
mat3 = np.zeros ([4,4])
print (mat3)

In the line below, create matrix of ones called ***mat4*** with shape 4 x 4. Then print ***mat4***.

In [0]:
mat4 = np.ones ([4,4])
print (mat4)

In the line below, add ***mat3*** and ***mat4*** elementwise and call the resulting matrix ***mat3_4***. Then print ***mat3_4***.

In [0]:
mat3_4 = mat3 + mat4
print (mat3_4)

In the line below, multiply ***mat3*** by ***mat4*** elementwise and call the resulting matrix ***mat3_4mult*** and print it.

In [0]:
mat3_4mult = np.matmul(mat3,mat4)
print (mat3_4mult)

In the line below, create new matrix called ***mat5*** with shape 4 x 3 with random numbers from a normal distribution. Then print ***mat5***.

In [0]:
mat5 = randn (4,3)
print (mat5)

In the line below, write your answer to the following question: A matrix multiply can be performed between ***mat4*** and ***mat5*** in that order (True or False).

**IT'S THE WHOLE TRUTH, NOTHING BUT THE TRUTH. SO HELP ME PROGRAMMING GODS.**

In the line below, write your answer to the following question: A matrix multiply can be performed between ***mat4*** and ***mat5*** if you transpose ***mat4*** (True or False).

**NOT FALSE**

In the line below, write your answer to the following question: A matrix multiply can be performed between ***mat5*** and ***mat4*** in that order (True or False).

**THE OPPOSITE OF TRUE. SO, NOT TRUE**

In the line below, transpose ***mat4*** and perform a matrix multiply between ***mat4*** and ***mat5*** in that order and call the resulting matrix ***mat45mult***. Then, print the shape of the resulting matrix.

In [0]:
mat4t = mat4.transpose()
mat45mult = np.matmul(mat4t,mat5)
print (mat45mult.shape)

To submit this assignment, click on File > Download as .ipynb and upload the downloaded notebook to the Homework1 folder on the class github.